$backColor: #dadde2;
$fontColor: #2f3640;

* {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

button {
  background: none;
  border: none;
  &:focus {
    border: none;
  }
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
}

hr {
  margin: 0px;
}

li {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 15px;

  &-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &-thumb {
    background-color: $fontColor;
    border-radius: 10px;
  }
}

body {
  background-color: $backColor;
  color: $fontColor;
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
}
